<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify</title>
</head>
<body>
    <p>Dear {{ user.username }},</p>
    <p>Welcome to <b>Fauna Login</b>!</p>
    <p>To confirm your account please <a href="{{ url_for('auth.confirm', token=token, _external=True) }}">Click Here</a>.</p>
    <p>Alternatively, you can paste the following link in your browser's address bar:</p>
    <p>{{ url_for('auth.confirm', token=token, _external=True) }}</p>
    <p>Sincerely,</p>
    <p>@copyright Sodiq's Blog</p>
    <p><small>Note: replies to this email address are not monitored.</small></p>
</body>
</html>

