<div class="row">
  <div class="col-md-4 offset-md-4">

    {{#if error}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{error}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{/if}}

    <div class="card bg-dark my-5" style="border-radius: 20px;">
      <div class="card-body">
        <center><h3 class="text-light h1">SignUp</h3></center>
        <form action="/signup" method="POST">
          <div class="form-group">
            <input type="text" name="email" class="form-control bg-dark text-light border border-success"
              placeholder="youremail@company.com" autofocus required style="border-radius: 20px;">
          </div>
          <div class="form-group">
            <input type="text" name="username" class="form-control bg-dark text-light border border-success" placeholder="Username" required style="border-radius: 20px;">
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control bg-dark text-light border border-success"
              placeholder="Password" required style="border-radius: 20px;">
          </div>
          <div class="form-group">
            <input type="password" name="confirm-password" class="form-control bg-dark text-light border border-success"
              placeholder="Confirm Password" required style="border-radius: 20px;">
          </div>
          <center>
            <button class="btn btn-success btn-block" style="border-radius: 20px; width: 50%">
            SignUp
          </button>
          </center>
        </form>
      </div>
    </div>

  </div>
</div>