<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/signin.css">
    <link rel="icon" type="image/jpg" sizes="16x16" href="favicon.jpg">
    <link rel="manifest" href="/site.webmanifest">
    <title>Sign In</title>
</head>
<body>
    <div class="hero">
        <div class="form-box">
        <div class="button-box">
            <div id="btn"></div>
            <button type="button" class="toggle-btn" onclick="signin()">Sign In</button>
        </div>
        <form id="Signin" class="input-group">
            <input type="email" class="input-field" placeholder="Email" required>
            <input type="password" class="input-field" placeholder="Password" required>
            <button type="submit" class="submit-btn">Sign In</button>
        </form>
        </div>
    </div>
    <script>
        var x=document.getElementById("Signin")
        var z=document.getElementById("btn")

        function signin(){
            x.style.left="50px"
            y.style.left="450px"
            z.style.left="0px"
    }
     </script>
 </body>
</html>