<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/lux/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/stylesheets/main.css">
    {{#if isLoggedIn}}
      <title>{{user.username}}'s profile</title>
    {{else}}
    <title>Home</title>
    {{/if}}
</head>
<body>
  <header class="row py-3">
      <div class="col-12 col-md">
        <h1 class="px-2" id="user"><a href="/" style="text-decoration: none; color: white" >User Login system</a></h1>
      </div>
    {{#if isLoggedIn}}
      <div class="col-6 col-md-2 text-center">
      </div>
      <div class="col-6 col-md-2 text-center">      
        <a href="/signout"><button class="btn btn-primary">Sign Out</button></a>
      </div>
      <div class="col-6 col-md-2 text-center">
        <button class="btn btn-primary" id="btn-delete">Delete Account</button>
      </div>
    {{else}}
      <div class="col-6 col-md-2 text-center">      
        <a href="/signup"><button class="btn btn-primary">Sign Up</button></a><br>
      </div>
      <div class="col-6 col-md-2 text-center">      
        <a href="/signin"><button class="btn btn-primary">Sign In</button></a>
      </div>
    {{/if}}
  </header>
  {{{ body }}}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="../../public/javascripts/script.js"></script>
</body>
</html>