<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/lux/bootstrap.min.css">
    <title>Home</title>
</head>
<body>
  <header>
    <h1><center>User Login system</center></h1>
    <a href="/signup">Sign Up</a><br>
    <a href="/signin">Sign In</a>
  </header>
  {{{ body }}}
    <!-- FOOTER -->
    <footer class="bg-dark text-white">
      <div class="container p-2">
        <div class="row">
          <div class="mx-auto text-center">
            <p>Fauna Login | &copy; Copyright 2021, All rights reserved</p>
            <p>
              <i class="fab fa-twitter-square fa-2x"></i>
              <i class="fab fa-facebook-square fa-2x"></i>
            </p>
          </div>
        </div>
      </div>
    </footer>
</body>
</html>