<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify</title>
</head>
    <body>
        Hello {{user.username}}
        <div>Click this <a href="{{confirmUrl}}">link</a> to verify your account</div>
    </body>
</html>
