<link rel="stylesheet" href="../public/stylesheets/main.css">
<div class="container d-flex justify-content-center align-items-center" style="height: 90vh !important;">
    <img src="../../public/images/home.png" alt="Home" style="min-width: 30%; max-width: 100%; min-height: 60vh; max-height: 90vh;">
</div>